<%= form_with(model: @blog, url:choose_new_or_edit, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= @blog.errors.count %>件のエラーがあります。</h4>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <table class="form">
      <tr>
        <th><%= form.label :title %></th>
        <td class="form_text"><%= form.text_field :title %></td>
      </tr>
      <tr>
        <th><%= form.label :content %></th>
        <td class="form_text"><%= form.text_area :content, :size => "25*30" %></td>
      </tr>
    </table>

  <div class="form_submit">
    <%= form.submit "投稿", :class => "submit" %>
  </div>
<% end %>

<%= link_to 'ブログ一覧', blogs_path %>
