<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4><%= pluralize(@user.errors.count, "error") %>
        prohibited this @user from being saved:</h4>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
<table class="form">
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :email %></th>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>

</table>
<div class="form_submit">
  <%= f.submit "Create my account", :class => "submit" %>
</div>
<% end %>
